.main_wrap {
	min-width: 500px;
	min-height: 300px;
	width: 100%;
}
.login_info_box,
.wx_login_box {
	width: 500px;
}
.wx_login_box {
	display: none;
}
.close {
	right: 0;
}
.data_list * {
	font-size: 12px;
}
.popup_animation {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($color: #000000, $alpha: 0.3);
	display: none;
	z-index: 945;
}
.popup_animation .spinner-border {
	position: absolute;
	top: calc(50% - 16px);
	left: calc(50% - 16px);
}
ul,
ol,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
// 数据表
#thlg_table_data_length select,
#thlg_table_data_filter input {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.omit {
	display: block;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
table.dataTable {
	border-collapse: collapse;
	table-layout: auto;

	th {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	td.dataTables_empty {
		// 加载图标位置居左|默认居中
		text-align: left;
	}
}
#thlg_table_data_wrapper {
	height: calc(100% - 80px);
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0 10px;
	.DTFC_ScrollWrapper {
		height: calc(100% - 115px);
	}
	.dtfc_scrollwrapper {
		height: 100%;
	}
	.dataTables_scroll {
		height: calc(100% - 90px);
		& > div.dataTables_scrollBody {
			height: calc(100% - 70px) !important;
			max-height: calc(100% - 70px) !important;
		}
	}
}
#thlg_table_data {
	border-collapse: collapse;
	table-layout: auto;
}
table.dataTable {
	tbody {
		tr.odd {
			background-color: #f9f9f9;
		}
		tr.even {
			background-color: #ffffff;
		}
		td {
			word-break: break-word;
			max-width: 90px;
			padding: 4px 10px;
			cursor: pointer;
			.product_watch {
				margin: auto;
			}
		}
	}
	.product_img {
		width: 50px;
	}
	.multiterm {
		display: block;
	}
	.single {
		display: none;
	}
}
main.main_wrap.data_list {
	/* 滚动条样式 */
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
	/*滑块*/
	::-webkit-scrollbar-thumb {
		background-color: #232f3e;
		border-radius: 10px;
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: #777;
	}
	/*滑道*/
	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px #333;
		border-radius: 10px;
	}
}
// APP 整体
#app-root {
	position: absolute;
	z-index: 9999;
	background-color: #f9f9f9;
	min-width: 680px;
	min-height: 300px;
	width: 800px;
	height: 500px;
	left: 15%;
	top: 25%;
	right: 1px;
	// overflow: auto;
	.title {
		width: 100%;
		height: 20px;
		background-color: #232f3e;
		color: #f9f9f9;
		padding: 0 10px;
		cursor: move;
	}
	.full-screen-box,
	._close {
		position: absolute;
		top: 0;
		right: 0;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		font-size: 10px;
		color: #333;
		background-color: #fff;
		opacity: 0.5;
		cursor: pointer;
	}
	.full-screen-box {
		right: 22px;
		.full {
			display: block;
		}
		.small {
			display: none;
		}
	}
	.bg_change_size {
		font-size: 22px !important;
		text-align: right;
		position: fixed;
	}
	.main_wrap.login_outer_box {
		display: block;
		height: 100%;
	}
	.main_wrap.data_show_box {
		display: none;
		height: 100%;
		.pagination li {
			list-style: none;
		}
	}
}
