.main_wrap {
  width: 780px;
  min-height: 300px;
}
.login_info_box,
.wx_login_box {
  width: 500px;
}
.wx_login_box {
  display: none;
}
.close {
  right: 0;
}
.data_list * {
  font-size: 12px;
}
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/*滑块*/
::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
/*滑道*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #333;
  border-radius: 10px;
}
.popup_animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6c757d4d;
  display: none;
}
.popup_animation .spinner-border {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
